/* **************RESET CSS************ */
:root{
    --max-width: 1200px;

}
  *,
  *::after,
  *::before{
    box-sizing: border-box;    
    padding: 0;
    margin: 0;
  }


/* **************UTILITARIOS ************ */

.app{
    /* full-Screen */
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.time-select, 
.sound-picker,
.player-container{
    height: 80%;
    flex: 1;

}
.time-select{
    background: lightblue;
}
.sound-picker{
    background: lightgreen;
}
.player-container{
    background: lightsalmon;
}

@media screen and (min-width: 768px){
    .app{
        flex-direction: row;
        height: 120vh;
    }
    
}

@media screen and (min-width: 1024px){
    
}
